html, body {
    font-family: Roboto, 'Segoe UI', sans-serif;
}

.reads {
    line-height: 30px;
}

.output {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.output__row {
    display: flex;
    gap: 5px;
}

.output__item {
    line-height: 30px;
    width: 30px;
    text-align: center;
    display: block;
    box-sizing: border-box;
    border-radius: 4px;
}

.output__item-black {
    background-color: #555;
    color: #f4f4f4;
}

.marked-item {
    background-color: #f44336;
    color: white;
}
